HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignorar arquivos de sistema
*.log
*.tmp
*.sys

# Ignorar diretórios de usuário e sistema
$Recycle.Bin/
.cache/
.config/
AMD/
Ecetesb/
Intel/
MSI/
Playwright/
Program Files/
Program Files (x86)/
ProgramData/
QA/
Recovery/
Teclado/
Temp/
Users/
Windows/
book/
codeInBook/
estudos-type/
estudos/
fullcycle/
hiberfil.sys
jaspersoftstudio/
java/
nvm4w/
pagefile.sys
path/
projeto/
swapfile.sys
themes/

# Ignorar arquivos que não fazem parte do projeto
../gradle/
../image.png
../security/
